<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload Excel File</title>
  </head>
  <body>
    <h1>Upload Excel File</h1>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul style="color: green">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form method="post" enctype="multipart/form-data">
      <input type="file" name="excel_file" required />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
